In [1]:
person = {
    "first": "Har", 
    "last": "Mesh", 
    "email": "Harmesh@gmail.com"
}

In [2]:
people = {
    "first": ["Har"], 
    "last": ["Mesh"], 
    "email": ["Harmesh@gmail.com"]
}

In [3]:
people = {
    "first": ["Har", 'Rohit', 'Ajay'], 
    "last": ["Mesh", 'Dev', 'Tem'], 
    "email": ["Harmesh@gmail.com", 'Rohidev@email.com', 'Ajaytem@email.com']
}

In [4]:
people['email']

['Harmesh@gmail.com', 'Rohidev@email.com', 'Ajaytem@email.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

   first  last              email
0    Har  Mesh  Harmesh@gmail.com
1  Rohit   Dev  Rohidev@email.com
2   Ajay   Tem  Ajaytem@email.com

In [8]:
df['email']

0    Harmesh@gmail.com
1    Rohidev@email.com
2    Ajaytem@email.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [10]:
df.email

0    Harmesh@gmail.com
1    Rohidev@email.com
2    Ajaytem@email.com
Name: email, dtype: object

In [11]:
df[['last', 'email']]

   last              email
0  Mesh  Harmesh@gmail.com
1   Dev  Rohidev@email.com
2   Tem  Ajaytem@email.com

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.iloc[0]

first                  Har
last                  Mesh
email    Harmesh@gmail.com
Name: 0, dtype: object

In [15]:
df.iloc[[0, 1], 2]

0    Harmesh@gmail.com
1    Rohidev@email.com
Name: email, dtype: object

In [19]:
df.loc[[0, 1], ['email','last']]

               email  last
0  Harmesh@gmail.com  Mesh
1  Rohidev@email.com   Dev

In [16]:
df

   first  last              email
0    Har  Mesh  Harmesh@gmail.com
1  Rohit   Dev  Rohidev@email.com
2   Ajay   Tem  Ajaytem@email.com