In [1]:
people = {
    "first": ["Har", 'Jonny', 'Amit'], 
    "last": ["Mesh", 'Harode', 'Shukla'], 
    "email": ["harmesh@gmail.com", 'jonnyharode@email.com', 'amitshukla@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first    last                  email
0    Har    Mesh      harmesh@gmail.com
1  Jonny  Harode  jonnyharode@email.com
2   Amit  Shukla   amitshukla@email.com

In [6]:
df['last'] == 'Mesh'

0     True
1    False
2    False
Name: last, dtype: bool

In [18]:
filt = (df['last'] == 'shukla')  & (df['first'] == 'Har')

In [19]:
df[filt]

  first  last              email
0   Har  Mesh  harmesh@gmail.com

In [21]:
df.loc[~filt, 'email']

1    jonnyharode@email.com
2     amitshukla@email.com
Name: email, dtype: object