In [1]:
people = {
    "first": ["Har", 'Jonny', 'Amit'], 
    "last": ["Mesh", 'Harode', 'Shukla'], 
    "email": ["harmesh@gmail.com", 'jonnyharode@email.com', 'amitshukla@email.com']
}

In [2]:
import pandas as pd

In [11]:
df = pd.DataFrame(people)

In [12]:
df

   first    last                  email
0    Har    Mesh      harmesh@gmail.com
1  Jonny  Harode  jonnyharode@email.com
2   Amit  Shukla   amitshukla@email.com

In [13]:
df['email']

0        harmesh@gmail.com
1    jonnyharode@email.com
2     amitshukla@email.com
Name: email, dtype: object

In [14]:
df.set_index('email', inplace=True)

In [15]:
df

                       first    last
email
harmesh@gmail.com        Har    Mesh
jonnyharode@email.com  Jonny  Harode
amitshukla@email.com    Amit  Shukla

In [16]:
df.index

Index(['harmesh@gmail.com', 'jonnyharode@email.com', 'amitshukla@email.com'], dtype='object', name='email')

In [17]:
df.loc['harmesh@gmail.com', 'last']

'Mesh'

In [18]:
df.iloc[0]

first     Har
last     Mesh
Name: harmesh@gmail.com, dtype: object

In [19]:
df.reset_index(inplace=True)
df

                   email  first    last
0      harmesh@gmail.com    Har    Mesh
1  jonnyharode@email.com  Jonny  Harode
2   amitshukla@email.com   Amit  Shukla